<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
<img src="assets/logo.png" height="110%">
</div>


<table>
  <tbody>
          <tr *ngFor="let category of categoryResults">
            <td>
              {{category.title}}
              </td>
          </tr>
        </tbody>
        </table>

        <mat-grid-list cols = "5" rowHeight="125" >
           <mat-grid-tile
           [colspan] = "1"
           [rowspan] = "1"
           [style.background] = "lightblue">


               <mat-slider
                  class="example-margin"

                  [disabled]="disabled"
                  [invert]="invert"
                  [max]="max"
                  [min]="min"
                  [step]="step"
                  [thumbLabel]="thumbLabel"
                  [tickInterval]="tickInterval"
                  [(ngModel)]="difficultLevel"
                  [vertical]="vertical">
            </mat-slider>

           </mat-grid-tile>


           <mat-grid-tile
           [colspan] = "4"
           [rowspan] = "5">
<table>
  <tbody>
           <tr *ngFor="let row of clueGrid">
              <ng-container *ngFor="let item of row?.items">
                <td>
                  <mat-card (click) = "toggleView(item)" class="example-card">
                      <mat-card-header>
                        <mat-card-title>{{item.question}}</mat-card-title>
                        <mat-card-subtitle>{{item.category.title}}</mat-card-subtitle>
                      </mat-card-header>

                      <mat-card-content *ngIf="item.hidden">
                        What is {{item.answer}}
                      </mat-card-content>
                    </mat-card>
                </td>
              </ng-container>
          </tr>
  </tbody>
  </table>


           <!--table mat-table [dataSource]="clues">

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category.title}} </td>
  </ng-container>

  <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef> Question </th>
    <td mat-cell *matCellDef="let element"> {{element.question}} </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Difficult Level </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <ng-container matColumnDef="answer">
    <th mat-header-cell *matHeaderCellDef> answer </th>
    <td mat-cell *matCellDef="let element"> {{element.answer}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table-->

           </mat-grid-tile>

           <mat-grid-tile
           [colspan] = "1"
           [rowspan] = "1">

           <mat-form-field>
             <input matInput   [(ngModel)]="minDate" [matDatepicker]="minPicker" placeholder="Choose a date">
             <mat-datepicker-toggle matSuffix [for]="minPicker"></mat-datepicker-toggle>
             <mat-datepicker #minPicker></mat-datepicker>
           </mat-form-field>

           </mat-grid-tile>


           <mat-grid-tile
             [colspan] = "1"
             [rowspan] = "1">
             <mat-form-field>
               <input matInput   [(ngModel)]="maxDate" [matDatepicker]="maxPicker" placeholder="Choose a date">
               <mat-datepicker-toggle matSuffix [for]="maxPicker"></mat-datepicker-toggle>
               <mat-datepicker #maxPicker ></mat-datepicker>
             </mat-form-field>
             </mat-grid-tile>



             <mat-grid-tile
             [colspan] = "1"
             [rowspan] = "1">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Category"  [(ngModel)]="selectedCategory" aria-label="Category" [matAutocomplete]="auto" [formControl]="categoryCtrl">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let category of filteredCategories | async" [value]="category.id">
                      <small>{{category.title}}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
             </mat-grid-tile>

             <mat-grid-tile
               [colspan] = "1"
               [rowspan] = "1">
               <button mat-raised-button color="white" (click)="fetchClues()">Primary</button>
            </mat-grid-tile>

        </mat-grid-list>
